.header-page{
  text-align: right;
  color: #3E454D;
  font-family:'Arial', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size:x-large;
}

.btn-add-new{
  color: white;
  background-color: #3497F9;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border: none;
  padding: 12px;
  position: absolute;
  right: 0;
  border-radius: 12px;
  &:hover{
      background-color: #58aafc;
      cursor: pointer;
  }
  margin-bottom: 7px;
}
.table-emp{
  width: 100%;
  margin: 37px 0;
  text-align: center;
  thead{
    border-bottom: #CFCFCF 0.5px solid;
  }
  th{
    padding: 10px;
  }
}

.head-first{
  text-align: left;
}

.some-btn{
  display: flex;
  justify-content: space-evenly;
}
.col-id{
  text-align: center;
  width: 10%;
}

.pagination{
  text-align: center;
  margin: 0 auto;
}
