#backgroundE {
    background: #F1F8FF;
    position:relative; 
    justify-content: center;
    align-content: center;
    // padding-bottom: 1rem;
}

#container {
    background-color: white;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width:90%;
    border-radius: 12px;  

}

#txt-id {
    color: #96999C;
    font-size: smaller;
}

#equipment-table {
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-family: 'Arial', sans-serif;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}

#equipment-table th, td{
    border-bottom: #CFCFCF 0.5px solid;
    padding: 10px;
}

#equipment-table th {
    color: #3E454D;
}

#equipment-table td {
    color: #56585A;
}

/* .name-col{
    text-align: left;
}

.type-col{
    text-align: center;
} */
.table-head-item:nth-child(1){
    /* EMPTY */
    text-align: center;
    width: 60px;
}
.table-head-item:nth-child(2){
    /* TEN THIET BI */
    text-align: left;
    width: 160px;
}
.table-head-item:nth-child(3){
    /* LOAI*/
    text-align: center;
    width: 160px;
}
.table-head-item:nth-child(4){
    /* PHONG CAT TRU */
    text-align: center;
    width: 160px;
}
.table-head-item:nth-child(5){
    text-align: left;
   
}
.table-head-item:nth-child(6){
    /*  TRANG THAI */
    text-align: center;
    width: 180px;
}
.table-head-item:nth-child(7){
    text-align: center;
    width: 160px;
}

.table-data-item:nth-child(1){
    /* COLLAPSE */
    text-align: center;
}
.table-data-item:nth-child(2){
    /* TEN THIET BI */
    text-align: left;
}
.table-data-item:nth-child(3){
    /* LOAI */
    text-align: center;
}
.table-data-item:nth-child(4){
    /* PHONG CAT TRU */
    text-align: center;
}
.table-data-item:nth-child(5){
    text-align: left;
}
.table-data-item:nth-child(6){
    text-align: center;
}
.swaper-title{
    display: flex;
    align-items: center;
}

.error-add-maintain{
    margin: 0 0 0 auto;
}
.icon-add{
    margin: auto 0;
}

.input-content{
    width: 80%;
}

.maintain-header:nth-child(1){
    text-align: center;
}
.maintain-header:nth-child(2){
    text-align: center;
}
.maintain-header:nth-child(3){
    text-align: left;
    width: 590px;
}
.maintain-header:nth-child(4){
    text-align: center;
  
}
.maintain-data{
    text-align: center;
}
.maintain-data:nth-child(3){
    text-align: left;
}
.maintain-data:nth-child(4){
    align-items: center ;
}

// .maintain-data button {
//     width: 100%;
// }

.state-maintain{
    margin-right: 10px;
    width: 150px;
    text-align: center;
}
.state-use{
    margin-right: 10px;
    text-align: center;
    
}

.btn-confirm-maintain{
    border-radius: 4px;
    background-color: white;
    border: #3E454D 2px solid;
    padding: 4px;

    &:hover{
        background-color: #58aafc;
        cursor: pointer;
    }
}

.header-use{
    text-align: center;
}
.header-use:last-child{
    width: 240px;
    
}
.data-use{
    text-align: center;
}

.data-use:nth-child(4){
    text-align: center;
}

.btn-confirm-return{
    padding: 6px;
    font-family: 'Arial', sans-serif;
    margin: 0 5px;
    background-color: #3497F9;
    outline: none;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: white;
    &:hover{
        background-color: #58aafc;
        cursor: pointer;
    }

}





#addnew-btn{
    color: white;
    background-color: #3497F9;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border: none;
    padding: 12px;
    position: absolute;
    right: 0;
    border-radius: 12px;
    &:hover{
        background-color: #58aafc;
        cursor: pointer;
    }
    margin-bottom: 7px;
}

#header-container{
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    border-bottom: #CFCFCF 0.5px solid;
    border-spacing: 1rem;
    align-items: flex-end;
}

#header-page{
    text-align: right;
    color: #3E454D;
    font-family:'Arial', sans-serif;
    font-family:'Arial', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:x-large;
}

#action-btn-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content)); /* adjust the width of the columns */
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center; /* aligns the grid horizontally in the center */
    align-items: center;
} 

.action-btn {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    width: 30px;
}



#delete-btn{
    border: 1px solid #ff3333;     
}

#edit-btn{
    border: 1px solid #1a9cff;
}

.search {
    width:25%;
    margin-bottom: 2rem;
    height: 1rem;
}

.collapse-row {
    border:none;
    /* background-color: #F1F8FF; */
    
}


.collapse-table{
    width: 100%;
    .btn-confirm-maintain, .state-maintain button{
        width: 100%;
        padding: 4px;
        font-family: 'Arial', sans-serif;
        margin: 0 5px;
        background-color: #3497F9;
        outline: none;
        border-radius: 6px;
        border: none;
        font-weight: bold;
        color: white;
        &:hover{
            background-color: #58aafc;
            cursor: pointer;
        }
    }
}
    

.btn-use{
    width:35%;
    padding: 4px;
        font-family: 'Arial', sans-serif;
        margin: 0 5px;
        background-color: #3497F9;
        outline: none;
        border-radius: 6px;
        border: none;
        font-weight: bold;
        color: white;
        &:hover{
            background-color: #58aafc;
            cursor: pointer;
        }
}

.row-borrower{
    display: inline-block;
    &:hover{
        cursor: pointer;
    }
}


