.wrap-notify{
    width: 100rem;
    background-color: #f6f8fc;
    margin:0 auto;
}

.notify-content{
    width: 100%;
    display:flex;
}

.sidebar{
    width: 20%;
}

.table-mail{
    width: 80%;
}
