
.wrap-notify{
    position:relative;
    width: 95rem;
    background-color: #f6f8fc;
    margin:0 auto;
    padding-bottom:3%;
}

.notify-content{
    width: 100%;
    display:flex;
}

.sidebar{
    width: 20%;
}

.table-mail{
    width: 80%;
}

.input-mail{
    margin-bottom:10%;
}
