#backgroundE {
    background: #F1F8FF;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    // padding-bottom: 1rem;
}

.schedule {
    background-color: #f6f8fc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3%;
    width: 90rem;
    max-width: 90vw;
    margin: 0 auto;
    height: 70rem;
}

.schedule-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #adadad;
    padding: 2% 0;

    p {

        font-size: 30px;
        font-weight: 500;
        margin-left: 3%;
    }

    .schedule-title-right {
        display: flex;

        button {
            background-color: #55a6f8;
            border: none;
            border-radius: 10px;
            padding: 0 2%;
            width: 200px;
            transition: 0.4s;
            font-weight: 500;
            color: white;
            height: 40px;
            margin: auto 0;
            margin-right: 5%;

            &:hover {
                background-color: #1d68b2;
            }
        }
    }
}

.no-click {
    pointer-events: none;
}

.schedule-content {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

.schedule-wrapper {
    width: 95%;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
    margin-top: 3%;
    padding-bottom: 2%;
    height: 95%;
    position: relative;
}

.line-row {
    border-bottom: 1px solid lightgray;
}

.special-line {
    padding-bottom: 1%;
}

.schedule-search {
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
    height: 10%;

    input {
        position: absolute;
        border: none;
        background-color: #EBF5FF;
        border-radius: 20px;
        padding: 0.9% 4%;
        width: 25%;
        left: 0;
        margin-left: 3%;

        &:focus {
            background-color: rgb(182, 204, 244, 0.4);
        }
    }

    .search {
        position: absolute;
        top: 9px;
        left: 4%;
        font-size: 30px
    }

    p {
        position: absolute;
        top: 55px;
        color: red;
        font-weight: 500;
    }
}

.line-key {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}

.Status-done {
    color: rgb(24, 190, 24);
    border-radius: 5px;
    font-weight: 500;
}

.Status-pending {
    color: rgb(250, 152, 250);
    border-radius: 5px;
    font-weight: 500;

}

.Status-doing {
    color: rgb(249, 182, 58);
    border-radius: 5px;
    font-weight: 500;

}

.schedule-icons {
    display: flex;
    justify-content: space-between;

    svg {
        width: 30%;
        transition: 0.2s;
        margin-left: 20px;
        margin-right: 25px;
        color: black;

        &:hover {
            scale: 1.5;
        }
    }
}

.schedule-icons-done {
    .icon1 {
        scale: 2;
        color: green;
    }
}

.schedule-icons-doing {
    .icon3 {
        scale: 2;
        color: purple;
    }
}

.schedule-icons-pending {
    .icon2 {
        scale: 2;
        color: red;
    }
}

.schedule-table-Status,
.schedule-table-index,
.schedule-table-ID_doctor,
.schedule-table-Name_doctor,
.schedule-table-Patient,
.schedule-table-Room,
.schedule-table-Time_in {
    display: flex;
    align-items: center;
    justify-content: start;
}

.edit-time {
    padding-top: 1.5%;
    margin: auto 0;
}

.schedule-add {
    // Man hinh luc co form
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-form {
    // Khung form
    width: 600px;
    height: 340px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 5px;
}

.form-title {
    // title
    padding: 2% 0;
    // margin:0 2%;
    border-bottom: 1px solid #e4e4e4;

    span {
        margin-left: 5%;
        font-weight: 450;
        font-size: 22px;
    }
}

.form-doctor {
    // Bac si
    display: flex;
    width: 100%;
    padding: 2% 5%;
    justify-content: space-between;

    div {
        width: 45%;
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #adadad;
        padding: 1.5% 0;

        &:focus {
            outline: none;
        }
    }
}

.form-time {
    display: flex;
    width: 100%;
    padding: 2% 5%;
    justify-content: space-between;
    height: 20%;

    div {
        width: 45%;
        border: 1.5px solid #adadad;
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            border: none;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}

.form-other-1 {
    display: flex;
    width: 100%;
    padding: 2% 5%;
    justify-content: space-between;
    height: 20%;

    input {
        width: 45%;
        border: none;
        padding: 2% 5;
        border-bottom: 1.5px solid #adadad;

        &:focus {
            outline: none;
        }
    }

    .select {
        .option {
            width: 45%;
            border: none;
            padding: 2% 5;
            border-bottom: 1.5px solid #adadad;
            background:  red;
    
            &:focus {
                outline: none;
            }
        }
    }
}

.form-other {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2% 5%;
    padding-bottom: 7%;
    border-bottom: 1.5px solid #e4e4e4;

    input {
        width: 30%;
        border: none;
        padding: 1.5% 0;
        border-bottom: 1.5px solid #adadad;

        &:focus {
            outline: none;
        }
    }
}

.form-button {
    display: flex;
    justify-content: end;
    margin-top: 1%;

    button {
        border: none;
        margin: 0 2%;
        background-color: transparent;
        color: #2d94fb;
        padding: 1% 2%;

        &:hover {
            background-color: #edf5fd;
        }
    }
}

.doctor-id,
.doctor-name {
    position: relative;
}

.ul-id,
.ul-name {
    position: absolute;
    list-style: none;
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    left: 0%;
    border: 1px solid #adadad;

    li {
        width: 100%;
    }
}


.no-change {
    pointer-events: none;
}

.schedule-pages {
    width: 80%;
    // display: flex;
    // justify-content: start;
    // margin-top: 2%;
    // margin-left:2%;
    position: absolute;
    bottom: 2%;
    left: 3%;
}

.not-found {
    margin-top: 2%;
    color: rgb(253, 76, 76);
    font-weight: 500;
}

.ahuhu {
    svg {
        display: none;
        visibility: hidden;
    }
}

.select-status {
    width: 90%;
    border-radius: 10px;
    padding: 1% 5%;
}


.option2 {
    color: rgb(24, 190, 24);
}

.option3 {
    color: rgb(249, 182, 58);
}

.option4 {
    color: rgb(250, 152, 250);
}

.select-done {
    color: green;
}

@media screen and (max-width:1263px) {
    .schedule {
        font-size: 14px;
    }
}

.color-red{
    color:#d32f2f !important;
}