.tablemail-wrapper {
    width: 100%;
    padding-top:1%;
}

.primary-row {
    padding: 1% 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.primary-checkbox,
.primary-sender,
.primary-content,
.primary-time {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;

    p {
        text-align: center;
        margin: auto 0;
    }
}

.content-container {
    width: 100%;
}

.line-row {
    padding: 1% 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.contain-checkbox{
    margin:auto 0;
}

.sender-col {
    display: flex;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 480;
    margin: auto 0;
}

.content-col {
    display: flex;
    justify-content: start;
    margin: auto 0;
    overflow: hidden;

    .content-title {
        margin:auto 0;
        width: 120%;
        font-weight: 480;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
    }

    .content-content {
        margin:auto 0;
        font-weight: 400;
        width: 85%;
        overflow: hidden;
        font-size: 12px;
        color: #adadad;
        margin: auto 0;
    }
}

.time-col {
    font-size: 12px;
    margin:auto 0;


    p {
        text-align: center;
        margin: auto 0;
    }
}

.barrie {
    margin: 0 1%;
}

.notify-footer {
    padding-top:3%;
    // background-color:#edecec;
    border-radius: 7px;
    display:flex;
    justify-content: space-between;
    width: 100%;

    .notify-footer-left {
        display:flex;
        width: 10%;
        justify-content: center;
        button {
            border: none;
            background-color: unset;
            margin: auto 1%;
            padding: 5% 20%;
            transition: 0.3s;
            border-radius: 5px;

            &:hover {
                background-color: #bbdafa;
            }
        }
    }
}

.tablemail-pages {
    width: 85%;
    display: flex;
    justify-content: start;
    
}