.wrapper {
    width: 30%;
    height: 50vh;
    background-color: red;
    border-radius: 10px;

    .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding:1% 3%;
        background-color: antiquewhite;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }   

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .bottom {
        width: 100%;
        height: auto;
    }
}

.main {
    .mail_title,
    .mail_receiver,
    .mail_content {
        width: 100%;
    }

    .mail_title {
        margin-bottom: 8px;
    }
}

